<xf:js>
	$(document).ready(function () {
		$("ul.inputChoices li.factomWalletdSelect input[name='change_password_factomwalletd']").click(function () {
			if ($("ul.inputChoices li.factomWalletdSelect input[name='change_password_factomwalletd'] :checked").length == 0) {
				$("ul.inputChoices li.factomWalletdSelect ul input[name='options[factomWalletdPassword]']").prop("disabled", false);
				$("ul.inputChoices li.factomWalletdSelect ul input[name='options[factomWalletdPassword]']").css("background-color", "#f7fbfe");
				$("ul.inputChoices li.factomWalletdSelect ul").append('<input type="hidden" name="options_listed[]" value="factomWalletdPassword">');
			}
		});
		$("ul.inputChoices li.factomWalletdUnselect input[name='change_password_factomwalletd']").click(function () {
			$("ul.inputChoices li.factomWalletdSelect ul input[name='options[factomWalletdPassword]']").prop("disabled", true);
			$("ul.inputChoices li.factomWalletdSelect ul input[name='options[factomWalletdPassword]']").css("background-color", "#efefef");
			$("ul.inputChoices li.factomWalletdSelect ul input[name='options_listed[]']").remove();
		});
	});
</xf:js>
<dl class="formRow formRow--input">
	<dt>
		<div class="formRow-labelWrapper">
			<label class="formRow-label" for="factomize_factomwalletd_password_7">{{ phrase('option.factomWalletdPassword') }}</label>
			<dfn class="formRow-hint">factomWalletdPassword (7)

				<a href="/xenforo/admin.php?options/factomWalletdPassword/edit&amp;group_id=canonicalLedgersFactomize" data-xf-init="tooltip" data-original-title="factomWalletdPassword / 7" id="js-XFUniqueId7">Edit</a></dfn></div>
	</dt>
	<dd>
		<ul class="inputChoices">
			<xf:if is="$xf.options.factomWalletdPassword">
				<li class="inputChoices-choice factomWalletdUnselect"><label class="iconic iconic--radio iconic--labelled"><input type="radio" name="change_password_factomwalletd" value="" checked><i aria-hidden="true"></i>{{ phrase('option.dontChangePassword') }}</label></li>
			<xf:else />
				<li class="inputChoices-choice factomWalletdUnselect"><label class="iconic iconic--radio iconic--labelled"><input type="radio" name="change_password_factomwalletd" value="" checked><i aria-hidden="true"></i>{{ phrase('option.noPassword') }}</label></li>
			</xf:if>
			<li class="inputChoices-choice factomWalletdSelect"><label class="iconic iconic--radio iconic--labelled"><input type="radio" name="change_password_factomwalletd" value="change"><i aria-hidden="true"></i>{{ phrase('option.setNewPassword') }}</label>
				<ul class="inputChoices-dependencies">
					<input type="password" id="factomWalletdPassword" class="input" name="options[factomWalletdPassword]" value="" disabled>
					<div class="formRow-explain">{{ phrase('option_explain.factomWalletdPassword') }}</div>
				</ul>
			</li>

		</ul>

	</dd>
</dl>