<xf:js>
	$(document).ready(function () {
		$("ul.inputChoices li.factomdSelect input[name='change_password_factomd']").click(function () {
			if ($("ul.inputChoices li.factomdSelect input[name='change_password_factomd'] :checked").length == 0) {
				$("ul.inputChoices li.factomdSelect ul input[name='options[factomdPassword]']").prop("disabled", false);
				$("ul.inputChoices li.factomdSelect ul input[name='options[factomdPassword]']").css("background-color", "#f7fbfe");
				$("ul.inputChoices li.factomWalletdSelect ul").append('<input type="hidden" name="options_listed[]" value="factomdPassword">');
			}
		});
		$("ul.inputChoices li.factomdUnselect input[name='change_password_factomd']").click(function () {
			$("ul.inputChoices li.factomdSelect ul input[name='options[factomdPassword]']").prop("disabled", true);
			$("ul.inputChoices li.factomdSelect ul input[name='options[factomdPassword]']").css("background-color", "#efefef");
			$("ul.inputChoices li.factomWalletdSelect ul input[name='options_listed[]']").remove();
		});
	});
</xf:js>
<dl class="formRow formRow--input">
	<dt>
		<div class="formRow-labelWrapper">
			<label class="formRow-label" for="_xfUid-5-1529930840">{{ phrase('option.factomdPassword') }}</label>
			<dfn class="formRow-hint">factomdPassword (5)

				<a href="/xenforo/admin.php?options/factomdPassword/edit&amp;group_id=canonicalLedgersFactomize" data-xf-init="tooltip" data-original-title="factomdPassword / 5" id="js-XFUniqueId5">Edit</a></dfn></div>
	</dt>
	<dd>
		<ul class="inputChoices">
			<xf:if is="$xf.options.factomdPassword">
				<li class="inputChoices-choice factomdUnselect"><label class="iconic iconic--radio iconic--labelled"><input type="radio" name="change_password_factomd" value="" checked="checked"><i aria-hidden="true"></i>{{ phrase('option.dontChangePassword') }}</label></li>
			<xf:else />
				<li class="inputChoices-choice factomdUnselect"><label class="iconic iconic--radio iconic--labelled"><input type="radio" name="change_password_factomd" value="" checked="checked"><i aria-hidden="true"></i>{{ phrase('option.noPassword') }}</label></li>
			</xf:if>
			<li class="inputChoices-choice factomdSelect"><label class="iconic iconic--radio iconic--labelled"><input type="radio" name="change_password_factomd" value="change" data-xf-init="disabler"><i aria-hidden="true"></i>{{ phrase('option.setNewPassword') }}</label>
				<ul class="inputChoices-dependencies is-disabled">
					<input type="password" class="input" name="options[factomdPassword]" value="" id="_xfUid-5-1529930840">
					<div class="formRow-explain">{{ phrase('option_explain.factomdPassword') }}</div>
				</ul>
			</li>

		</ul>

	</dd>
</dl>