<xf:js>
	function verifyField (field, fieldName) {
		if (fieldName == "entryCreditAddress")
			return field.match(/^(ec|EC)[0-9a-zA-Z]{50}$/);
		else if (fieldName == "identityChainAddress")
			return field.match(/^[0-9a-zA-Z]{64}$/);
		else if (fieldName == "factomdEndpointAddress" || fieldName == "factomWalletdEndpointAddress")
			return field.match(/^[a-zA-Z\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/);
	}
	
	function checkField (fieldName) {
		var $field = $('dd input[name="options[' + fieldName + ']"]');
		if (!verifyField($field.val(), fieldName)) {
			$field.css("background-color", "red");
			$field.css("color", "white");
		}
		else {
			$field.css("background-color", "#f7fbfe");
			$field.css("color", "black");
		}
	}
	
	function checkAllFields () {
		checkField("entryCreditAddress");		
		checkField("identityChainAddress");
		checkField("factomdEndpointAddress");
		checkField("factomWalletdEndpointAddress");
	}
	
	$(document).ready(function () {
		if($("input[name='options[entryCreditAddress]']").val().length > 0 &&'<xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="verifyAddressInWalletd">{$xf.options.entryCreditAddress}</xf:callback>' != "true") {
			$("span.factom-walletd-connection-error").text("{{ phrase('option.entryCreditBalance_error') }}");
		}
		$(window).click(function() {
			checkAllFields();
		});

		$('dd input').click(function(event){
			checkAllFields();
			if ($(this).css("color") == "rgb(255, 255, 255)") {
				$(this).css("background-color", "#f7fbfe");
				$(this).css("color", "black");
			}
			event.stopPropagation();
		});
	});
</xf:js>

<xf:css>
	dl.formRow dd input.input[name='options[entryCreditAddress]'] {
		display: inline-block; 
		width: 75%; 
		margin-left: 0; 
		margin-right: 0;
	}
	dl.formRow dd input.input.entryCreditBalance {
		display: inline-block; 
		width: 24%; 
		resize:none; 
		text-align: center; 
		font-family: monospace; 
		color: #8c8c8c;
	}
	span.factom-walletd-connection-error {
		color: red;
	}
	@media only screen and (max-width: 1215px) {
		dl.formRow dd input.input[name='options[entryCreditAddress]'] {
			width: 100%;
		}
		dl.formRow dd input.input.entryCreditBalance {
			float: right;
			width: 150px;
		}
		dl.formRow dd input.input.entryCreditBalance:active {
			color: #8c8c8c;
		    background: #f3f5f6;
		}
	}
</xf:css>
<dl class="formRow formRow--input">
	<dt>
		<div class="formRow-labelWrapper">
			<label class="formRow-label" for="_xfUid-1-1529930840">{{ phrase('option.entryCreditAddress') }}</label>
			<dfn class="formRow-hint">entryCreditAddress (1)

				<a href="/xenforo/admin.php?options/entryCreditAddress/edit&amp;group_id=canonicalLedgersFactomize" data-xf-init="tooltip" data-original-title="entryCreditAddress / 1" id="js-XFUniqueId1">Edit</a></dfn></div>
	</dt>
	<dd>
		<input type="hidden" name="options_listed[]" value="entryCreditAddress">
		<input type="text" class="input" name="options[entryCreditAddress]" value="{$xf.options.entryCreditAddress}">
		<input class="input entryCreditBalance" readonly value='{{ phrase("option.entryCreditBalance") }} <xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="getEntryCreditAddressBalance">{$xf.options.entryCreditAddress}</xf:callback>'>
		<span class="factom-walletd-connection-error"></span>
	</dd>
</dl>