<xf:js>
	String.prototype.trim = function() {
		return this.replace(/^\s+|\s+$/g, "");
	};
	$(document).ready(function () {
		var current_key = $('#cached_current_key').text().trim();
		$('#cached_current_key').text(current_key);
		current_key = current_key.replace(/[\s\t]+/g, "");
		var temp_key = $("#cached_temp_key").text().trim();
		$('#cached_temp_key').text(temp_key);
		temp_key = temp_key.replace(/[\s\t]+/g, "");
	
		if (current_key == "") {
			$('dl.formRow a.showSigningKey').text("{{ phrase('option.noSigningKeyEstablished') }}");
			if (!temp_key)
				$('dl.formRow span.pkey_more_info').text("{{ phrase('option.setUpSigningKey') }}");
			$('dl.formRow span.pkey_more_info').css("color", "red");
		}
	
		$('dl.formRow a.showSigningKey').click(function () {	
			if (current_key != "") {
				if (!$("#cached_current_key").hasClass("hidden")) {
					$("#cached_current_key").addClass("hidden");
					$("#cached_current_key").one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',   
					function(e) {
						$("dl.current_signing_key").css("position", "fixed");
					});
					$(this).text("Show");
				}
				else {
					$("dl.current_signing_key").css("position", "relative");
					$("#cached_current_key").removeClass("hidden");
					$(this).text("Hide");
				}
			}
		});
	
		if (!temp_key) {
			$("#cached_temp_key").css("visibility", "hidden");
			$("dl.new_key a.temp").remove();
		}
		else {
			$("#cached_temp_key").removeClass("hidden");
			$("#cached_temp_key").css("position", "relative");
			$("dl.new_key button.temp").remove();
		}
	
		if ((current_key && !temp_key) || current_key && current_key == temp_key) {
			$('dl.formRow span.pkey_more_info').text("{{ phrase('option.keyUpToDate') }}");
			$('dl.formRow span.pkey_more_info').css("color", "green");
		}
		else {
			if (temp_key) {
				var id_chain_tools_html = '<a class="id_chain_intext" href="https://bitbucket.org/canonical-ledgers/identity-chain-tools/" target="_blank">identity chain tools</a>';
				var waiting_text = "Use the " + id_chain_tools_html + " to add the generated signing key to the ";
				<xf:if is="{$xf.options.identityChainAddress}">
					$('dl.formRow div.key-check').html(waiting_text + "<a class='id_chain_intext' href='https://explorer.factom.com/chains/{$xf.options.identityChainAddress}' target='_blank'>identity chain</a>...");
				<xf:else />
					$('dl.formRow div.key-check').html(waiting_text + "<a class='id_chain_intext'>identity chain</a>...");
				</xf:if>
			}
			$('dl.formRow div.key-check').css("color", "red");
		}
	});
</xf:js>
<div style="width: 100%; height: 1px; background-color: #8c8c8c;"></div>
<dl class="formRow formRow--input">
	<dt>
		{{ phrase('option.currentSigningKey') }}
	</dt>
	<dd style="margin-bottom: 0; padding-bottom: 0;">
		<a class="button showSigningKey" style="margin-bottom: 2%;">Show</a><span class="pkey_more_info" style="margin-left: 1%;"></span>
	</dd>
</dl>