<xf:css>
	.formRow.formRow--input > dt {
		padding-top: 16px;
	}
	dd.signing_keys {
		margin-top: 0;
		padding-top: 0;
	}
	
	dl.formRow dd textarea {
		width: 100%;
		height: 300px;
		text-align: center;
		resize: none;
		vertical-align: top;
	}
	
	dl.formRow dd textarea#cached_current_key {
		transition: all 0.3s ease-in;
		margin-bottom: 2%;
	}
	
	#cached_current_key.hidden {
		height: 0;
		margin: 0;
		padding: 0;
		visibility: hidden;
		transition: all 0.3s ease-out;
	}
	
	dl.formRow dd textarea.hidden_immediate {
		height: 0;
	}
	
	dl.current_signing_key {
		position: fixed;
	}

</xf:css>

<dl class="formRow formRow--input current_signing_key">
	<dt>
	</dt>
	<dd class="signing_keys" style="padding-bottom: 0; margin-bottom: 0;">
		<textarea id="cached_current_key" class="hidden" wrap="hard" readonly> <xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="getCachedCurrentKey"></xf:callback> </textarea>
	</dd>
</dl>
<div style="width: 100%; height: 1px; background-color: #8c8c8c;"></div>