<xf:css>
	dl.formRow div.key-check {
		margin-top: 1%;
		margin-bottom: 1%;
	}
	dl.formRow div.key-check a.id_chain_intext {
		color: red;
		text-decoration: underline;
		cursor: pointer;
	}
	dl.formRow div.key-check a.id_chain_intext:hover {
		color: darkred;
	}
	
	#cached_temp_key {
		position: fixed;
	}
</xf:css>

<dl class="formRow formRow--input new_key">
	<dt style="vertical-align: middle;">
		{{ phrase('option.factomize_temp_signing_key') }}
	</dt>
	<dd style="padding-top: 0;">
		<xf:js>
			function copyToClip () {
				var public_key_area = document.querySelector("textarea.active_copy");
				public_key_area.select();
				document.execCommand("copy");
			}
		</xf:js>
		<div class="key-check"></div>
		<textarea id="cached_temp_key" class="hidden active_copy" readonly> <xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="getCachedTempKey"></xf:callback> </textarea>
		<input type="hidden" name="options_listed[]" value="generateNewKey">
		<button class="button temp" style="margin-top: 1%;" href="{{ link('options/update') }}" name="options[generateNewKey]" value="generate">{{ phrase('option.generateNewKey') }}</button>
		<a class="button button--icon temp" onclick="copyToClip()" style="float: right; margin-top: 2%;"><span class="button-text">{{ phrase('option.copyToClipboard') }}</span></a>
	</dd>
</dl>