<xf:css>
	dd a.id_button {
		background-color: grey; 
		border: 1px solid grey;
	}
	
	dl.formRow dd a.id_button:hover {
		background-color: #6f6f6f; 
	}
</xf:css>
<div style="width: 100%; height: 1px; background-color: #8c8c8c;"></div>
<dl class="formRow formRow--input">
	<dt>
		Configure Identity Chain
	</dt>
	<dd>
		<a class="button button--icon id_button" href="https://bitbucket.org/canonical-ledgers/identity-chain-tools/" target="_blank">{{ phrase('option.identityChainTools') }}</a>
		<xf:if is="{$xf.options.identityChainAddress}">
			<a class="button button--icon id_button" href="https://explorer.factom.com/chains/{$xf.options.identityChainAddress}" target="_blank">{{ phrase('option.identityChainLink') }}</a>
		</xf:if>
	</dd>
</dl>