<xf:css><xf:include template="factomize_info_styles.less" /></xf:css>
<xf:js>
	jQuery(document).ready(function ($) {
		$('a.identity-chain-link').prop('href', '<xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="getExplorerLinkUrlFromTemplate">{"{chain_input}":"{$xf.options.identityChainAddress}", "{/entries/entry_input}": ""}</xf:callback>');
	});
</xf:js>
<section class="center-info">
	<xf:title>{{ phrase('factomize_info_page.title') }}</xf:title>
	<xf:h1><img src="{$xf.options.boardUrl}/styles/CanonicalLedgers_Factomize/Factom_icon.png">{{ phrase('factomize_info_page.title') }}</xf:h1>
	<article>
		<h1>{{ phrase('factomize_info_page.whatisit_title') }}</h1>
		<p>{{ phrase('factomize_info_page.whatisit_body') }}</p>
	</article>
	<article>
		<h1>{{ phrase('factomize_info_page.whobuiltit_title') }}</h1>
		<p>{{ phrase('factomize_info_page.whobuiltit_body') }}</p>
	</article>
	<article>
		<h1>{{ phrase('factomize_info_page.howtouse_title') }}</h1>
		<p>{{ phrase('factomize_info_page.howtouse_body') }}</p>
	</article>
	<article>
		<h1>{{ phrase('factomize_info_page.howitworks_title') }}</h1>
		<p>{{ phrase('factomize_info_page.howitworks_body') }}</p>
	</article>
	<article>
		<h1>{{ phrase('factomize_info_page.howdoiverify_title') }}</h1>
		<p>{{ phrase('factomize_info_page.howdoiverify_body') }}</p>
	</article>
	<article>
		<h1>{{ phrase('factomize_info_page.howdoisigningkey_title') }}</h1>
		<p>{{ phrase('factomize_info_page.howdoisigningkey_body') }}</p>
	</article>
</section>