<xf:macro name ="verification_view"
		  arg-post_id="0"
		  arg-post_message=""
		  arg-chain_id=""
		  arg-entry_hash=""
		  arg-public_data=""
		  arg-isFirstPost=""
		  arg-title="">
	<xf:css><xf:include template="verification_styles.less" /></xf:css>
	<div class = 'factomize_info cell_{$post_id} message-cell'>
		<div class = "user-descrip message-cell message-cell--user">
			<img src='{$xf.options.boardUrl}/styles/CanonicalLedgers_Factomize/Factom_Secure.png'>
			<div class="factomize_attribution">
				<h5>{{ phrase('factomizeInfo.addonName') }}</h5>
				<h5>{{ phrase('factomizeInfo.author') }}</h5>
				<h5><a href="{{ link('factomize-info') }}" target="_blank" rel="nofollow">{{ phrase('factomizeInfo.whatThis') }}</a></h5>
			</div>
		</div>
		<div class="verification-info_expnd">
			<div class="exit fas fa-times"></div>
			<div class="verify_info"><h5>{{ phrase('factomizeInfo.chainId') }}</h5> <a href='<xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="getExplorerLinkUrlFromTemplate">{"{chain_input}":"{$chain_id}", "{/entries/entry_input}": ""}</xf:callback>' target="_blank" rel="nofollow">{$chain_id}<span class="fa fa-external-link"></span></a></div>
			<div class="verify_info"><h5>{{ phrase('factomizeInfo.entryHash') }}</h5> <a href='<xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="getExplorerLinkUrlFromTemplate">{"{chain_input}":"{$chain_id}", "{/entries/entry_input}": "/entries/{$entry_hash}"}</xf:callback>' target="_blank" rel="nofollow">{$entry_hash}<span class="fa fa-external-link"></span></a></div>
			<h2>{{ phrase('factomizeInfo.entryContent') }}</h2>
			<textarea class="entrycontent" readonly>{$public_data}</textarea>
			<a class="button button--icon copy-button entrycontent">{{ phrase('option.copyToClipboard') }}</a>
			<xf:if is="$isFirstPost">
				<h2>{{ phrase('factomizeInfo.rawTitleContent') }}</h2>
				<textarea class="titlecontent" readonly>{$title}</textarea>
				<a class="button button--icon copy-button titlecontent">{{ phrase('option.copyToClipboard') }}</a>
			</xf:if>
			<h2>{{ phrase('factomizeInfo.rawMessageContent') }}</h2>
			<textarea class="messagecontent" readonly>{$post_message}</textarea>
			<a class="button button--icon copy-button messagecontent">{{ phrase('option.copyToClipboard') }}</a>
		</div>
	</div>
</xf:macro>

<xf:macro name="verify_post"
		  arg-post_id="0"
		  arg-post_message="No message"
		  arg-chain_id=""
		  arg-entry_hash=""
		  arg-public_data="No additional post information available"
		  arg-status="Unsecured"
		  arg-isFirstPost=""
		  arg-title=""
		  arg-thread="">
	
	<xf:set var="$factom_small_img" value="{$xf.options.boardUrl}/styles/CanonicalLedgers_Factomize/Factom_icon.png" />
	
	<xf:if is="$status == 'Secured'">
		<a class="factom_verify_link verification_info_{$post_id}">
			<img src="{$factom_small_img}">{{ phrase('factomizeInfo.secured') }}
		</a> 
	<xf:elseif is="$status == 'Pending'"/>
		<a class="factom_verify_link" href="{{ link('threads/post', $thread, {'post_id': $post_id}) }}">
			<img src="{$factom_small_img}">{{ phrase('factomizeInfo.pending') }}
		</a>
	<xf:else />
		<a class="factom_verify_link" href="{{ link('threads/post', $thread, {'post_id': $post_id}) }}">
			<img src="{$factom_small_img}">{{ phrase('factomizeInfo.unsecured') }}
		</a>
	</xf:if>

	<xf:js>
		var infoSectionsExpanded = 0;
		$(document).ready(function () {
			function expandSectionUp () {
				--infoSectionsExpanded;
				if (infoSectionsExpanded == 0 && $("span.expanded_thread_secure").css("visibility") == "visible") {
					$("span.expanded_thread_secure").css("visibility", "hidden");
					$("span.expanded_thread_secure a").addClass("expnd-hide");				
					$("span.expanded_thread_secure a").removeClass("expnd-show");
				}
				$('div.factomize_info.cell_{$post_id}').hide('expandUp', function(){ $(this).remove(); });
			}
		
			function expandSectionDown () {
				++infoSectionsExpanded;
				if ($("span.expanded_thread_secure").css("visibility") == "hidden") {
					$("span.expanded_thread_secure").css("visibility", "visible");
					$("span.expanded_thread_secure a").addClass("expnd-show");				
					$("span.expanded_thread_secure a").removeClass("expnd-hide");
				}
				$('#js-post-{$post_id}').append(`<xf:macro name="verification_view" arg-post_id="{$post_id}" arg-post_message="{$post_message}" arg-chain_id="{$chain_id}" arg-entry_hash="{$entry_hash}" arg-public_data="{$public_data}" arg-isFirstPost="{$isFirstPost}" arg-title="{$title}"/>`);

				$('html, body').animate({
					scrollTop: ($('div.cell_{$post_id}').offset().top - 35)
				},500);
		
				$('div.factomize_info.cell_{$post_id} div.verification-info_expnd textarea.entrycontent').text($('div.factomize_info.cell_{$post_id} div.verification-info_expnd textarea.entrycontent').text().replace(/\//g, '\\\/'));
			}
		
		
			$('a.verification_info_{$post_id}').click(function () {
				if ($('div.factomize_info.cell_{$post_id}').length)
					expandSectionUp();
				else
					expandSectionDown();
		
				$('div.cell_{$post_id} div.exit').click(function () {
					expandSectionUp();
					$('html, body').animate({
						scrollTop: ($('a.verification_info_{$post_id}').offset().top - 50)
					},500);
				});
		
				function replaceSlashes(key, value) 
				{
					if ( typeof value == "string")
						value = value.replace(/\//g, "\\/");
					return value;
				}

				$('div.factomize_info.cell_{$post_id} div.verification-info_expnd a.copy-button').click(function () {
					var content_class = "entrycontent";
					if ($(this).hasClass('messagecontent'))
						content_class = "messagecontent";
					else if ($(this).hasClass('titlecontent'))
						content_class = "titlecontent";
					var json_data = $('div.factomize_info.cell_{$post_id} div.verification-info_expnd textarea.' + content_class).text();
					if (json_data.substring(0,1) == "{")
						json_data = JSON.stringify(JSON.parse(json_data), replaceSlashes).replace(/\\\\/g, "\\");
					const copyArea = document.createElement('textarea');
					copyArea.value = json_data;
					copyArea.setAttribute('readonly', '');
					copyArea.style.position = 'absolute';
					copyArea.style.left = '-200vw';
					document.body.appendChild(copyArea);
					copyArea.select();
					document.execCommand('copy');
					document.body.removeChild(copyArea);
				});
			});
		});
	</xf:js>
</xf:macro>

<xf:macro name="verify_thread"
		  arg-thread_id="0"
		  arg-chain_id=""
		  arg-status="Unsecured">
	<xf:set var="$factom_small_img" value="{$xf.options.boardUrl}/styles/CanonicalLedgers_Factomize/Factom_icon.png" />
	<xf:if is="$chain_id != '0'">
		<a class="factom_verify_link button--link button">
			<img src='{$xf.options.boardUrl}/styles/CanonicalLedgers_Factomize/Factom_Secure.png'>
		</a>
		<span class="expanded_thread_secure">
			<a href='<xf:callback class="CanonicalLedgers\\Factomize\\Listener" method="getExplorerLinkUrlFromTemplate">{"{chain_input}": "{$chain_id}", "{/entries/entry_input}": ""}</xf:callback>' class="button expnd-link expnd-hide" target="_blank" rel="nofollow">Thread Chain <span class="fa fa-external-link"></span></a>
		</span>
	<xf:else />
		<a class="factom_verify_link button--link button" href="">
			<img src="{$factom_small_img}"> {{ phrase('factomizeInfo.pending') }}
		</a>
	</xf:if>
	
	<xf:js>
		$(document).ready(function () {
			$("a.factom_verify_link.button").click(function() {
					if ($("span.expanded_thread_secure").css("visibility") == "visible") {
						$("span.expanded_thread_secure").css("visibility", "hidden");
						$("span.expanded_thread_secure a").addClass("expnd-hide");				
						$("span.expanded_thread_secure a").removeClass("expnd-show");
					}
					else {
						$("span.expanded_thread_secure").css("visibility", "visible");
						$("span.expanded_thread_secure a").addClass("expnd-show");				
						$("span.expanded_thread_secure a").removeClass("expnd-hide");
					}
			});
		});
	</xf:js>
</xf:macro>