h1.p-title-value img {
	width: 50px;
	vertical-align: middle;
	padding-right: 2%;
}

div.p-body-main {
	background-color: #fefefe;
	padding: 1% 2%;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #dfdfdf;
    border-right-color: #d8d8d8;
    border-bottom-color: #cbcbcb;
    border-left-color: #d8d8d8;
}

div.p-body-pageContent section.center-info article h1 {
	border-bottom: 1px solid #e7e7e7;
}

code {
	background-color: rgba(27,31,35,0.05);
	padding: 0.2em 0.4em;
	border-radius: 3px;
}

section.center-info ul {
	list-style-type: decimal;
}

section.center-info ul li {
	margin: 2% 1%;
}