.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

@expnd_height: 100px;

@keyframes expandDown {
	0% {
		max-height: 0;
	}
	100% {
		max-height: 100vh;
	}
}

@keyframes expandUp {
	0% {
		max-height: 100vh;
	}
	100% {
		max-height: 0;
	}
}

@keyframes pop-in {
	0% {
		width: 0;
		height: 0;
		font-size: 0;
		padding: 0;
	}
	100% {
		padding: 5px 10px 5px 10px;
		width: inherit;
		height: inherit;
		font-size: inherit;
	}
}

@keyframes pop-out {
	0% {
		visibility: visible;
		padding: 5px 10px 5px 10px;
		width: inherit;
		height: inherit;
		font-size: inherit;
	}
	100% {
		width: 0;
		height: 0;
		font-size: 0;
		padding: 0;
	}
}

a.factom_verify_link {
	cursor: pointer;
}

div.block-outer a.factom_verify_link.button--link.button {
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
	display: inline-flex;
	align-items: center;
}

div.block-outer a.factom_verify_link.button--link.button:hover {
	background-color: #f7f7f7;
}

div.block-outer-main {
	margin-right: 10px;
}

header.message-attribution a.factom_verify_link img {
	margin-left: 1%;
	margin-right: 2px;
	vertical-align: middle; 
	height: 25px;
	margin-top: -4px;
}

div.block-outer a.factom_verify_link.button img {
	width: auto;
	height: 35px;
}

header.message-attribution a.factom_verify_link {
	display: inline-flex;
	margin-left: 5px;
}

span.expanded_thread_secure {
	visibility: hidden;
}

span.expanded_thread_secure a.button.expnd-link:hover {
	background-color: #f7f7f7;
}

span.expanded_thread_secure a.button.expnd-hide {
	animation-name: pop-out;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	visibility: hidden;
	width: 0;
	padding: 0;
}

span.expanded_thread_secure a.button.expnd-hide span {
	animation-name: pop-out;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

span.expanded_thread_secure a.button.expnd-show {
	animation-name: pop-in;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

span.expanded_thread_secure a.button.expnd-show span {
	animation-name: pop-in;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

span.expanded_thread_secure a.button.expnd-link {	
    background-color: white;
    border-color: #cecccc;
    color: black;
}

span.expanded_thread_secure a.button.expnd-link span {
	color: #2577b1;
}

div.factomize_info {
	display:flex;
	padding: 0;
	animation-name: expandDown;
	animation-duration: 0.75s;
	animation-timing-function: ease-in;
}

div.user-descrip {
	display:inline-block; 
	width: 140px; 
	padding: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	border-top: 1px solid #e7e7e7;
	border-top-radius: 0;
}

div.user-descrip img {
	max-width: 90%;
}

div.factomize_attribution h5 {
	font-weight: normal;
	margin: 0;
}

div.verification-info_expnd {
	display:inline-flex; 
	flex-grow: 1; 
	border-top: 1px solid #e7e7e7; 
	padding: 1%;
	white-space:pre-wrap;
	word-break: break-all;
	overflow:hidden;
	flex-wrap: wrap;
	justify-content: flex-end;
}

div.exit {
	display: block;
    float: right;
    position: absolute;
	font-family: 'FontAwesome';
	font-size: 20px;
}

div.exit:hover {
	color: red;
	cursor: pointer;
}

div.verification-info_expnd div.verify_info {
	color: rgb(140, 140, 140);
	display: block;
	width: 100%;
}

div.verification-info_expnd div.verify_info h5 {
	display: inline;
}

div.verification-info_expnd div.verify_info a {
	display: inline;
}

div.verification-info_expnd div.verify_info span {
	color: #2577b1;
	margin-left: 3px;
}

div.verification-info_expnd textarea {
	margin-right: auto;
    width: 100%;
    height: 330px;
    margin-bottom: 1%;
    resize: none;
	font-family: monospace;
}

div.verification-info_expnd textarea.entrycontent {
	padding-top: 5px;
	padding-bottom: 5px;
}

div.verification-info_expnd textarea.titlecontent {
	height: 50px;
}

div.verification-info_expnd textarea.messagecontent {
	height: 100px;
}

div.verification-info_expnd h2 {
    margin-right: auto;
    margin-bottom: 0;
    font-weight: initial;
}

div.verification-info_expnd div.info {
	width: 100%;
}

div.verification-info_expnd a.copy-button {
	display: flex;
	margin-top: auto;
}

div.verification-info_expnd a.copy-button.entrycontent {
	margin-left: 100%;
}

div.verification-info_expnd a.copy-button.titlecontent {
	margin-left: 100%;
}

@media only screen and (max-width: 480px) {
	div.block-outer {
		//display: flex;
	}
}